* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5rem 0rem;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    font-size: 2rem;
}

.container {
    width: 900px;
    margin: auto;
    background-color: #ffffff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 10px 10px 24px 0px rgba(255, 255, 255, 0.89);
}

.calender {
    margin-top: 1rem;
    width: 100%;
}

table thead .days th {
    padding: 0.5rem;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 1.25rem;
}

table tbody td {
    padding: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
}